@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./assets/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}

.no-scroll {
  overflow: hidden;
}

.zigzag {
  clip-path: polygon(
    0% 0%,
    5% 100%,
    10% 0%,
    15% 100%,
    20% 0%,
    25% 100%,
    30% 0%,
    35% 100%,
    40% 0%,
    45% 100%,
    50% 0%,
    55% 100%,
    60% 0%,
    65% 100%,
    70% 0%,
    75% 100%,
    80% 0%,
    85% 100%,
    90% 0%,
    95% 100%,
    100% 0%
  ) !important;
  height: 2rem;
}

/* Hide the up and down arrows for input[type="number"] */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none;
  appearance: none;
}

/* Hide scrollbar for Chrome, Edge, and Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer */
.no-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
}
