@font-face {
  font-family: "Yavome";
  src: url("/fonts/YavomeRegular-4BwED.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva One";
  src: url("/fonts/YesevaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calgary";
  src: url("/fonts/calgary.ttf") format("truetype");
  font-display: swap; /* Optional: Adds more consistent behavior when loading fonts */
  font-weight: 400; /* Instead of 'normal', specify numerical weight */
  font-style: normal;
}

@font-face {
  font-family: "Kaftan";
  src: url("/fonts/kaftan.otf") format("opentype");
  font-display: swap;
  font-weight: 400; 
  font-style: normal;
}

